<div class="middle-part other-page">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2">
						<h1>Successful Registration</h1>
						<p class="success-txt">
							Congratulations! You have successfully registered.<br/>
							But currently your account is inactive.<br/>
							We have emailed you with a link to activate your account.<br/>
							Please check your mailbox and click on it activate your account.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>